langchain
langchain_openai
ipykernel
python-dotenv
langchain_community
PyPDF
beautifulsoup4
playwright
arxiv
pymupdf
langchain-text-splitters
python-dotenv
chromadb
llama-index-embeddings-ollama
#ollama
scikit-learn
langchain_huggingface
sentence_transformers
faiss-cpu
chromadb
langchain_chroma